<b:isolate/>
<b:style src="./spinner.css"/>

<div class="spinner">
  <span class="label"><b:content/></span>
  <div class="circle circle_1"></div>
  <div class="circle circle_2"></div>
  <div class="circle circle_3"></div>
</div>
