<b:isolate/>
<b:style src="./client.css"/>

<div class="item item_{selected} item_{empty}" event-click="select">
  <span class="num" b:show="{pickMode}">{num}</span>
  <span class="title title_{online} title_{empty}">{title}&nbsp;</span>
  <span b:show="{isBrowser}" class="location">{location}&nbsp;</span>
  <span b:show="{isNode}" class="pid">PID: {pid}&nbsp;</span>
  <div class="providers">
    <!--{childNodesHere}-->
  </div>
</div>
