HTML,
BODY
{
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: Arial, serif;
}

.offline-overlay
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  background: rgba(255, 255, 255, .95);
}

.toolbar
{
  padding: 5px;
}
