<b:isolate/>
<b:style src="./layout.css"/>

<div>
  <div class="offline-overlay" b:hide="{online}">
    <b:include src="./spinner.tmpl" isolate>
      Await for connection with server...
    </b:include>
  </div>
  <div class="toolbar">
    <b:include src="./button.tmpl" isolate>
      <b:set-attr name="event-click" value="pick"/>
      Pick client
    </b:include>
  </div>
  <!--{clients}-->
  <!--{sandbox}-->
</div>
