<b:isolate/>
<b:style src="./spinner.css"/>

<div class="spinner">
  <span class="label"><b:content/></span>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
</div>
