.spinner
{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -6px;
  margin-left: -25px;
  width: 50px;
  text-align: center;
}
.label
{
  display: block;
  position: absolute;
  width: 250px;
  left: -100px;
  text-align: center;
  top: 50%;
  margin-top: -2.5em;
  color: #888;
}

.circle
{
  background-color: rgb(80,150,250);
  display: inline-block;
  vertical-align: middle;
  height: 6px;
  width: 6px;
  margin: 3px;
  opacity: 0;
  animation-name: bounce;
  animation-duration: .65s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  border-radius: 50%;
}

.circle:nth-child(2) { animation-delay: 0.100s; }
.circle:nth-child(3) { animation-delay: 0.175s; }
.circle:nth-child(4) { animation-delay: 0.250s; }

@keyframes bounce {
  50% {
    opacity: 1;
  }
}
