.host
{
    position: fixed;
    z-index: 100000;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #EEE;
    opacity: .9;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
    transition: all cubic-bezier(0.25, 0.59, 0, 1.11) .2s;
}
.host[side=left]
{
    right: 50%;
    border-right: 2px solid #AAA;
}
.host[side=right]
{
    left: 50%;
    border-left: 2px solid #AAA;
}
.host[side=top]
{
    bottom: 50%;
    border-bottom: 2px solid #AAA;
}
.host[side=bottom]
{
    top: 50%;
    border-top: 2px solid #AAA;
}

.toolbar
{
    display: -webkit-flex;
    display: flex;
    padding: 0;
    background: #F8F8F8;
    border-bottom: 1px solid #DDD;
    white-space: nowrap;
}

.tab
{
    display: inline-block;
    padding: 5px 10px;
    color: #666;
    line-height: 1;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}
.tab:hover
{
    background: #EEE;
}
.tab_selected
{
    color: #444;
    border-bottom: 2px solid rgba(62, 130, 247, .6);
    margin-bottom: -1px;
}

.layout-buttons {
    display: -webkit-flex;
    display: flex;
}

.layout-button {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 28px;
    height: 24px;
}

.layout-button:hover {
    background: rgb(66, 128, 236);
}

.layout-button:hover .layout-button-part {
    border-color: white;
}

.layout-button-part {
    width: 15px;
    height: 13px;
    border: 2px solid rgb(90, 90, 90);
    box-sizing: border-box;
}

.layout-button-part-wrapper {
    position: relative;
    width: 15px;
    height: 13px;
}

.layout-button-part-wrapper .layout-button-part {
    position: absolute;
}

.layout-button_active:hover {
    background: none;
}

.host[side=left] .layout-button[side=left] .layout-button-part,
.host[side=right] .layout-button[side=right] .layout-button-part,
.host[side=top] .layout-button[side=top] .layout-button-part,
.host[side=bottom] .layout-button[side=bottom] .layout-button-part,
.host[side=full] .layout-button[side=full] .layout-button-part {
    border-color: rgb(66, 128, 236);
}

.host[side=left] .layout-button[side=left],
.host[side=right] .layout-button[side=right],
.host[side=top] .layout-button[side=top],
.host[side=bottom] .layout-button[side=bottom],
.host[side=full] .layout-button[side=full] {
    background: none;
}

/* close part */

.close-button {
    position: relative;
    width: 28px;
    text-align: center;
    font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(90, 90, 90);
}

.close-button:hover {
    color: black;
}

.close-button:after {
    content: 'x';
    line-height: 24px;
}

/* external part */

.layout-button[side=external] .layout-button-part:first-child {
    left: 0;
    bottom: 0;
    height: 11px;
    width: 13px;
    border-top: none;
    border-right: none;
}

.layout-button[side=external] .layout-button-part:last-child {
    top: 0;
    right: 0;
    height: 10px;
    width: 12px;
}

/* top part */

.layout-button[side=top] .layout-button-part {
    border-top-width: 5px;
}

/* top right */

.layout-button[side=right] .layout-button-part {
    border-right-width: 5px;
}

/* top bottom */

.layout-button[side=bottom] .layout-button-part {
    border-bottom-width: 5px;
}

/* top left */

.layout-button[side=left] .layout-button-part {
    border-left-width: 5px;
}

.sandbox
{
    flex: 1;
    position: relative;
}
.sandbox > iframe
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    background: white;
}
