:host {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100000000;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    line-height: 1.5;
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

h1 {
    font-size: 100px;
    font-size: 33vh;
    font-size: clamp(20px, 33vh, 100px);
    font-weight: normal;
    margin: 0;
}

button {
    font-size: 18px;
    line-height: 1;
    padding: 12px 24px;
    background: #3bafda;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
